*{
	margin:0;
	padding:0;
	user-select:none;
	
}
body{
	background-image: url(images/backgound.jpg);
}
.navbar{
	caret-color:transparent;
	height:100px;
	width:100%;
}
.navitems{
	cursor:hand;
	float:left;
	color:white;
	padding-top:37px;
	padding-left:25px;
	transition-duration: 1.5s;
}
.navitems_searchbar > input
{
	color:#0FFF3C; 
	border-top: none; 
	border-left: none; 
	border-right: none;
	caret-color:orange;
	font-size:20px;
	background-color: transparent;
    border-bottom: 3px solid green;
    width: 385px;
    height: 30px;
    float: right;
    transition-duration: 1.5s;
    margin-top: 33px;
    margin-left: 700px;
}
.playlist
{
	
	height: 85.7%;
	background-size:cover;
}
.navitems_searchbar > input::placeholder{ 
	color:#FFBF00;
	padding-left:5px;
}

.navitems_searchbar > input:focus-visible{
	outline:none;
	border-bottom: 3px solid red;
}
.navitems_searchbar > input:hover{
	outline:none;
	border-bottom: 3px solid blue;
}

.navitems:hover{
	color:green;
	text-decoration-line: underline;	
}
.songs{
	caret-color:transparent;
	background-color: transparent;
    height: inherit;
    margin: auto;
    width: 59%;
    z-index: -1;
}

.songwaste
{
	cursor:none;
	text-align:center;
	color:white;
	padding-top:5px;
	top:0 px;
	margin-top:0px;
	background-color:transparent;
	border:none;
	position:relative;
	margin-left:5px;
	margin-right:5px;
	height:70px;
	border-radius:100px;
	transition-duration:1s;
}
.songwaste:hover{
	color:green;
}
.song
{
	cursor:hand;
	transition-duration: 1s;
	background-color:transparent;
	position:relative;
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	height:70px;
	border:1px solid grey;
	border-radius:100px;
}
.song:hover
{
	border:5px solid grey;
	border-radius:8px;
	height:140px;
}
.songnames
{
	transition-duration: 1s;
	float:left;
	color:white;
	margin-left:70px;
}
.play{
	transition-duration: 1s;
	float: right;
	height: 68px; 
	border-radius: 35px;
	position: relative;
	top: 1px;
}
.pause{
	display:none;
	transition-duration: 1s;
	float: right;
	height: 68px; 
	border-radius: 35px;
	position: relative;
	top: 1px;
}
.pagebox{
	background-color: transparent;
    height: 20px;
    width: 220px;
	margin:auto;
    text-align: center;
	transition-duration:1s;
}
.pages{
	caret-color:transparent;
	width:20px;
	background-color:transparent;
	height:100%;
	margin-left:3px;
	float:left;
	text-align:center;
	border-radius:50%;
	cursor:hand;
	position:relative;
	color:white;
	border:1px solid yellow;
	
}
.pages:hover{
	border:1px solid green;
}

#suggestions{
	position: relative;
    width: 385px;
    height: 100px;
    background-color: transparent;
    display: flex;
    float: right;
    top: 66px;
    left: 1085px;
    flex-wrap: wrap;
    margin-top: -5px;
    z-index: 1;
}
#suggestions > div{
	background-color: transparent;
    height: 35px;
    width: inherit;
    margin-top: 5px;
    border-right: 5px solid yellow;
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
    transition-duration: 1s;
    font-size: 16px;
	overflow: hidden;
	background-image: linear-gradient(to right, #545454 , transparent);
}
#suggestions > div:hover{
	transition-duration: 1s;
	border-right: 5px solid orange;
	
	
}
.crossicon{
	height: 10px;
    float: right;
    position: relative;
    left: 1079px;
    top: 44px;
	cursor:hand;
	display:none;
}
